{% if settings.slider_toggle %}
<div class="slider_wrap">
<div class="nivoSlider">

{% if settings.slide1_toggle %}
{% if settings.slide1_link != '' %}<a href="{{ settings.slide1_link }}">{% endif %}
<img src="{{ 'slide1_image.jpg' | asset_url }}" title="#htmlcaption-1" />
{% if settings.slide1_link != '' %}</a>{% endif %}
{% endif %}

{% if settings.slide2_toggle %}
{% if settings.slide2_link != '' %}<a href="{{ settings.slide2_link }}">{% endif %}
<img src="{{ 'slide2_image.jpg' | asset_url }}" title="#htmlcaption-2" />
{% if settings.slide2_link != '' %}</a>{% endif %}
{% endif %}

{% if settings.slide3_toggle %}
{% if settings.slide3_link != '' %}<a href="{{ settings.slide3_link }}">{% endif %}
<img src="{{ 'slide3_image.jpg' | asset_url }}" title="#htmlcaption-3" />
{% if settings.slide3_link != '' %}</a>{% endif %}
{% endif %}

{% if settings.slide4_toggle %}
{% if settings.slide4_link != '' %}<a href="{{ settings.slide4_link }}">{% endif %}
<img src="{{ 'slide4_image.jpg' | asset_url }}" title="#htmlcaption-4" />
{% if settings.slide4_link != '' %}</a>{% endif %}
{% endif %}

{% if settings.slide5_toggle %}
{% if settings.slide5_link != '' %}<a href="{{ settings.slide5_link }}">{% endif %}
<img src="{{ 'slide5_image.jpg' | asset_url }}" title="#htmlcaption-5" />
{% if settings.slide5_link != '' %}</a>{% endif %}
{% endif %}

</div>
</div>


<script type="text/javascript">
$(window).load(function() {
    $('.nivoSlider').nivoSlider({
        effect:'fade',
        animSpeed:500,
        pauseTime:7000,
        startSlide:0,
        pauseOnHover:true,
        directionNav:true,
        directionNavHide:false,
        controlNav:false
    });
});
</script>
{% endif %}